# Practice Exercises for Single Table SQL

Given a dataset and a set of questions, form the queries to answer the questions. All questions in this particular exercise only require a query to a single table. 

⚠️ *Note:* Please display minimal number of attributes (columns) needed to make sense of your answer. Not too many, not too few.

Helped Recieved: Chesky, Daize, Alejandro

## Setup
The SQLite database for these exercises has been setup for you. For the curious, you can look at this file for the DDL commands to setup the tables and insert data.  `db_illum_ddl_5_3.sql`

Here is the schema for the database. The arrows show foreign keys, which is just fyi for now. 

![worker_project schema](worker_project_schema.png)

In [1]:
# Make sure to always run this cell when you open this notebook
# Start the Jupyter SQL engine, connecting to a SQLite database 
%reload_ext sql 
%sql sqlite:///worker_project.db

0. In the command line, inspect the sqlite database (worker_project.db) to see what the tables and columns actually are. Any differences you observe? (Also, copy past your output in the cell below)

The name inside the workers table is split into two different columns of firstname and last name.

1. Get the names of all workers in the Accounting department.

In [8]:
%%sql

SELECT firstName,lastName from Worker where deptName == 'Accounting';

 * sqlite:///worker_project.db
Done.

[('Tom', 'Smith'), ('Mary', 'Jones'), ('Jane', 'Burns')]

2. Get the name of the employee in the Research department who has the lowest salary.

In [11]:
%%sql
SELECT firstName,lastName from Worker order by Salary limit 1

 * sqlite:///worker_project.db
Done.

[('Jane', 'Burns')]

3. Get the details of the project with the highest budget.

In [16]:
%%sql 
Select * from Project order by budget DESC limit 1

 * sqlite:///worker_project.db
Done.

[(1025, 'Neptune', 110, 600000, '01-Feb-2021', 45)]

## The following questions may require more than one query to answer. 
Show your work! Add as many SQL cells as needed for each question. Use comments to indicate how the output of each query is used to arrive at your answer.

4. List out alphabetically the names of all workers working on Project 1001.

In [27]:
%%sql 

Select firstName, lastName from worker where empId in(Select empId from Assign where projNo == 1001) order by firstName

 * sqlite:///worker_project.db
Done.

[('Amanda', 'Chin'), ('Jane', 'Burns'), ('Mary', 'Jones'), ('Tom', 'Smith')]

5. Get an alphabetical list of names and corresponding ratings for all workers on any project managed by Michael Burns.

In [73]:
%%sql 
Select DISTINCT firstName, rating
from
(Select empId, rating
from Assign 
where projNo in (SELECT projNo from Project where projMgrId = 
(Select empId from Worker where firstName == 'Michael'))) as t
INNER JOIN Worker  ON t.empId=Worker.empId

 * sqlite:///worker_project.db
Done.

[('Michael', 5), ('Amanda', 4), ('Michael', None)]

6. For all projects starting after Feb 1, 2022, find the project number and names of all workers assigned to them.

In [70]:
%%sql 
Select projNo,Firstname from
(SELECT distinct empId,projNo
from Assign where projNo in
(select projNo from Project where startDate > '01-Feb-2022')) as T
INNER JOIN Worker on T.empId=Worker.empId

 * sqlite:///worker_project.db
Done.

[(1005, 'Mary'), (1019, 'Michael'), (1019, 'Amanda'), (1030, 'Michael')]

7. Find the names of employees who are not assigned as managers any project.

In [76]:
%%sql 
Select firstName, lastName
from Worker 
where empId not in 
(Select projMgrId from Project)

 * sqlite:///worker_project.db
Done.

[('Mary', 'Jones'), ('Jane', 'Burns'), ('Amanda', 'Chin')]

8. Find details of any project with the string "urn" in the project name.

In [78]:
%%sql 
select * from Project where projName like ('%urn')

 * sqlite:///worker_project.db
Done.

[(1005, 'Saturn', 101, 400000, '01-Jun-2022', 35)]

9. List out the projects from most to least efficient. (hint: the project with the lowest budget is not necessarily the one that uses time and human resources effectively.)

In [9]:
%%sql

SELECT * FROM Project Order by budget/expectedDurationWeeks;

 * sqlite:///worker_project.db
Done.
Done.

[(1001, 'Jupiter', 101, 300000, '01-Feb-2021', 50),
 (1030, 'Pluto', 110, 380000, '15-Sep-2023', 50),
 (1019, 'Mercury', 110, 350000, '15-Feb-2022', 40),
 (1005, 'Saturn', 101, 400000, '01-Jun-2022', 35),
 (1025, 'Neptune', 110, 600000, '01-Feb-2021', 45)]

10. Explain your reasoning for your solution to #9 (use a Markdown cell), including who should get the award for Most Efficient Project Manager.

I categorized by dividing the budge by the amount of time spent to get a ratio of money spent per day on project as an indicator of efficiency. The employee with the emplID 101, who is Tom Smith as the most efficient manager.
query used for name: Select firstName, lastName from Worker where empId == 101;

11. Bonus!!  A Query that you can't easily answer with just a set of queries: Get a list of project numbers with name and start dates, of all the projects that have the same start date as another. 
*you don't have to answer this, but think about it!*

In [2]:
%%sql
SELECT projNo, projName
FROM
(SELECT startDate, Count(*) FROM Project  GROUP BY (startDate) limit 1) as sdate
INNER Join Project on Project.startDate = sdate.startDate

 * sqlite:///worker_project.db
Done.

[(1001, 'Jupiter'), (1025, 'Neptune')]

## Submission:

Commit and push your changes to this document by the deadline, and share a link to the repository in the Moodle assignment.